*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding: 0;
    background-color: #333;

}

#depenses, #recettes, #epargnes, #resultat{

    box-shadow: 2px 2px 15px #131313;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left:  10%;
    margin: 20px 500px 20px 500px;

}
#boxBtnDep, #boxBtnRec, #boxBtnEp{
    margin-left: 41%;
}

label{
    color: grey;
    line-height: 60px;
    font-size: 15px;
    font-family: "Open Sans", serif;
}
h1 {
    color: grey;
    font-size: 65px;
    box-shadow: 2px 2px 5px #1d1d1d;
    width: 100%;
    margin-left: 41%;


}
p{
    color: grey;
    font-size: 15px;
}
h3{
    color: white;
    background-color: #6AB880;
    font-size: 30px;
    width: 350px;
    border-radius: 2px;
    text-align: center;
    padding: 5px;

}
input{
    padding: 10px;
}