*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding: 0;
    background-color: #333;

}

#depenses, #recettes, #epargnes, #resultat{

    box-shadow: 2px 2px 15px #131313;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left:  10%;
    margin: 20px 500px 20px 500px;

}
#boxBtnDep, #boxBtnRec, #boxBtnEp{
    margin-left: 32%;
}
#btnTotalDepense, #btnTotalRecettes, #btnTotalEpargnes{
    background-color: #224b96;
    padding: 20px 50px 20px 50px;
    border: none;
    box-shadow: 0 4px 1px -1px #232323;
    text-align: center;
    transition: .3s ease-in-out;
    border-radius: 3px;
    font-size: 15px;


}
#btnTotalDepense:hover, #btnTotalRecettes:hover, #btnTotalEpargnes:hover{
    transform: translate(-1%) scale(0.98);
    box-shadow: 1px 1px 3px #111111;
    background-color: #245FB8;
    color: white;

}
#btnTotalAll{
    background-color: #224b96;
    padding: 20px 50px 20px 50px;
    border: none;
    box-shadow: 5px 2px 10px #111111;
    text-align: center;
    transition: .3s ease-in-out;
    border-radius: 3px;
    font-size: 15px;

}
#btnTotalAll:hover {
    transform: translate(-1%) scale(0.98);
    box-shadow: 1px 1px 3px #111111;
    background-color: #245FB8;
    color: white;


}


.plus{
    color: white;
    cursor: pointer;
    font-size: 40px;

}
label{
    color: grey;
    line-height: 60px;
    font-size: 15px;
    font-family: "Open Sans", serif;
    margin-left: 30px;

}
h1 {
    color: grey;
    font-size: 65px;
    width: 100%;
    margin-left: 29%;


}
p{
    color: grey;
    font-size: 15px;
}
h3{
    color: white;
    background-color: #6AB880;
    font-size: 25px;
    width: 350px;
    border-radius: 2px;
    text-align: center;
    padding: 10px;

}
input{
    padding: 10px;
}