/*********************/
/*     RESET CSS     */
/*********************/
body, h1, fieldset {
    margin: 0;
}
fieldset, legend {
    padding: 0;
}

/*********************/
/*      GLOBAL       */
/*********************/
html {
    font-family: 'Raleway', arial, sans-serif;
    font-size: 62.5%;
    color: #464f57;
    background: #f4f2f0;
}
body {
    font-size: 1.4rem;
}


/*********************/
/*      HEADER       */
/*********************/
.site-header {
    padding: 30px;
    color: #fff;
    text-align: center;
    background: #f60;
}


/*********************/
/*       MAIN        */
/*********************/
.site-container {
    margin: 30px auto;
    padding: 30px;
    max-width: 500px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
}
.site-title {
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 3rem;
    text-align: center;
}
.site-title::after {
    content: "";
    display: block;
    margin: 20px auto;
    width: 50px;
    height: 2px;
    background: #f60;
}
.form-group {
    border: 0;
}
.form-group::after {
    content: "";
    display: block;
    margin: 30px auto;
    max-width: 300px;
    height: 1px;
    background: #f4f2f0;
}
.form-title {
    text-transform: uppercase;
    font-size: 1.8rem;
    color: #f60;
}
.form-elem {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.form-label {
    flex: 1;
}
.form-label abbr {
    font-weight: 700;
    color: #f60;
}
.form-field {
    border: 1px solid #ccc;
    padding: 10px;
    width: 50%;
}
.form-help {
    width: 8rem;
    font-weight: 300;
    font-size: 1.2rem;
}
.form-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;   
}
[class^=btn-] {
    border: 0;
    padding: 20px;
    min-width: 100px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all ease-in .2s;
}
[class^=btn-]:hover {
    transform: scale(1.05);
}
.btn-first {
    background: #7c4a96;
    color: #f4f2f0;
}
.btn-first:hover {
    background: #f4f2f0;
    color: #7c4a96;
}
.btn-first:active, .btn-snd:active {
    background: #f60;
    color: #f4f2f0;
}
.btn-snd {
    background: #f4f2f0;
    color: #464f57;
}
.btn-snd:hover {
    background: #464f57;
    color: #f4f2f0;
}
.error {
    border: 1px solid #f00;
}
.error-response {
    color: #f00;
}


@media (max-width: 549px) {
    .form-elem {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .form-field {
        margin: 10px 0;
        width: 100%;
        order: 1;
    }
    .form-help {
        text-align: right;
    }
}
@media (min-width: 550px) {
    .form-field {
        margin: 0 10px;
    }
    .form-label {
        text-align: right;
    }
}